/*====================
  contact icons FIX
====================*/

.contact__icons {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact__icons .link--icon {
  font-size: 2rem;
  color: var(--clr-fg);
  transition: transform 0.2s ease, color 0.2s ease;
}

.contact__icons .link--icon:hover {
  transform: translateY(-5px) scale(1.15);
  color: var(--clr-primary);
}